// DARK MODE

$bg_primary: #051725;
$face-book: #13191e;
$bg_component: #111010;
$color_title: #4ba2ee;
$color_text: #ffffff;
$color_icon: #9ca8df;
$color_data: #016fcb;

// LIGHT MODE

$bg_primary_light: #ffffff;
$face-book_light: #8c1434;
$bg_component_light: #111010;
$color_title_light: #741f19;
$color_text_light: #181616;
$color_icon_light: #bb3618;
$color_data_light: #cb0101;
