@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
  }

  @font-face {
    font-family: "Bebas Neue";
    src: url(../../assets/fonts/BebasNeue-Regular.ttf);
  }

  @font-face {
      font-family: "Poppins";
      src: url(../../assets/fonts/Poppins-Medium.ttf);
  }

  @font-face {
      font-family: "Josefina";
      src: url(../../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  }