@use "../scss/util/color" as color;

.light {
  background-color: color.$bg_primary_light;
  /*header*/
  header {
    h1 {
      color: color.$color_text_light;
    }
    .socials .icon {
      color: red;
      &:hover {
        color: rgb(179, 16, 16);
      }
    }
    .preferencias {
      .language span {
        color: rgb(150, 16, 16);
      }
    }
    .brightness {
      background-color: black;
      color: #fff;
      .circle-bright {
        left: 60%;
      }
    }
  }
  /*home*/
  main {
    .home {
      .presentation {
        border: 2px solid rgba(248, 2, 2, 0.3);
      }
      .presentation-card {
        background-color: color.$face-book_light;
        box-shadow: 1px 1px 10px rgba(70, 64, 64, 0.309);
        h1 {
          color: #fff;
        }
        p {
          color: rgb(248, 247, 247);
        }
        button {
          color: #fff;
          background-color: rgb(223, 39, 39);
          &:hover {
            background-color: rgb(163, 14, 14);
          }
        }
      }
      .about-short {
        h2 {
          color: rgb(155, 13, 13);
        }
        p {
          color: rgb(89, 11, 11);
          border-top: 2px solid rgba(248, 2, 2, 0.3);
        }
      }
    }
  }
  /*about*/
  .about {
    .card-about {
      background-color: color.$face-book_light;
      .card-me {
        .header-img {
          border-bottom: 1px solid rgba(136, 0, 36, 0.774);
        }
        .header-me {
          border-bottom: 1px solid rgba(136, 0, 36, 0.774);
        }
        h1 {
          color: #fff;
        }
      }
      .general .box-personal h4 {
        color: #fff;
        font-weight: 500;
      }
    }
    .timeline {
      .timeline-linear {
        border-right: 0.5px solid red;
        span {
          color: color.$color_data_light;
          &.active {
            border-bottom: 0.5px solid color.$color_data_light;
          }
        }
        .btn-group button {
          color: color.$color_data_light;
          &:hover {
            color: red;
          }
        }
      }
      .swipe-wrap .swipe-content p {
        color: rgb(138, 20, 20);
      }
      .swipe-wrap .swipe-content .caja {
        .book {
          &::before,
          &::after {
            background-image: radial-gradient(
              rgb(204, 192, 192),
              rgb(176, 173, 184) 100%
            );
          }
        }
        .book-front {
          background-color: #fff;
        }
      }
    }
  }
  /*portfolio*/
  .portfolio {
    h1 {
      color: rgb(17, 16, 16);
      border-left: 3px solid red;
    }
    .glide .glide__track .glide__slides .glide__slide p {
      background-color: color.$color_data_light;
    }
  }
  /*contact*/
  .contact {
    h1 {
      color: rgb(17, 16, 16);
      border-left: 3px solid red;
    }
    .message {
      .sending {
        color: rgb(44, 39, 39);
        .loading-icon {
          animation: loading 1s ease-in infinite;
        }
      }
    }
    .contact-body {
      .contact-descr {
        p {
          color: rgb(65, 54, 54);
        }
      }
      .contact-form {
        .input-box {
          input[type="text"],
          input[type="email"],
          textarea,
          input[type="submit"] {
            background-color: rgba(246, 246, 250, 0.781);
            color: rgb(33, 29, 29);
            caret-color: #d90000;
          }
          input[type="submit"] {
            color: #ffffff;
            background-color: #d90000;
            &:hover {
              color: #d8c7c7;
            }
          }
          input[type="text"]:focus,
          input[type="email"]:focus {
            border-bottom: 2px solid #d90000;
          }
          button {
            background-color: red;
          }
        }
      }
    }
  }
  footer {
    p {
      color: rgba(36, 31, 31, 0.87);
      &:nth-child(1) {
        font-size: 1rem;
      }
      &:nth-child(2) {
        font-size: 0.8rem;
      }
    }
  }
}
